<!-- This is the HTML message that is sent to the artist  -->

<html>
  <center>
  <h1 class="page-header">Message from  <%= @sender_email %>!</h1>
  <br>
  <p><%= @message_body %><p>
  <br>
  <h4>Respond directly to this meesage: <%= @sender_email %></h4>
  <h4>Log in to view all your messages: http://localhost:3000/users/sign_in</h4>
</html>
