<% Piece.find_each do |a| %>
  <div class="container">
    <div class="img_block">
      <%= link_to (image_tag a.image.url(:large), :class => "style_image"), piece_path(a.id) %>
    </div>
    <div class="info_block">
      <h2><%= link_to a.title, edit_piece_path(a.id) %></h2>
      <% if !a.album_id.nil? %>
        <h3><%= Album.find_by_id(a.album_id).title %></h3>
      <% end %>
    </div>
  </div>

<% end %>
