<% Piece.find_each do |a| %>
  <div class="container">
    <div class="img_block">
      <%= link_to (image_tag a.image.url(:large), :class => "style_image"), piece_path(a.id) %>
    </div>
    <div class="info_block">
      <h2><%= link_to a.title, edit_piece_path(a.id) %></h2>
      <h3><%= User.find_by_id(a.user_id).full_name %></h3>

    </div>
  </div>

<% end %>
