<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Upload Piece', "#" %></li>
<% end %>

<div class="container">
  <h1>Upload Piece</h1>

  <%= render partial: "form" %>
</div>
