<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
<% end %>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <center><h1>Artisans Treasures</h1></center>
      <p>The source for unique and beautiful treasures....Jackie and Brenda have discovered and bring you amazing works of art, hidden treasures from artisans around the United States. Browse a sampling of their works and learn about each of the artisans.</p>
    </div>
  </div>
</div>
