<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Create Album', "#" %></li>
<% end %>

<div class="container">
  <h1>Create Album</h1>
  <%= render 'form' %>
</div>
