.disimg {

}

.style_image {


  border: 20px;

  -moz-box-shadow:  0px 0px 38px 3px rgb(128,128,128);
  -webkit-box-shadow:  0px 0px 38px 3px rgb(128,128,128);
  box-shadow:  0px 0px 38px 3px rgb(128,128,128);

);
}
